# Keep the entries sorted to reduce the risk for a merge conflict
*.[ao]
*.deps
*~
/config.cache
/config.log
/config.status
/config/autoconf.mk
/config/nfspwd
/config/nsinstall
/dist
/host_jskwgen
/host_jsoplengen
/imacro_asm.js
/imacros.c.tmp
/js
/js-confdefs.h
/js-config
/js-config.h
/jsapi-tests/jsapi-tests
/jsautocfg.h
/jsautokw.h
/jsautooplen.h
/jscpucfg
/libmozjs.*
/shell/js
/unallmakefiles
Makefile
TAGS
tags
